/* reusable styling */
.card {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: auto;
  border-radius: 8px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.308);
  max-height: 350px;
}
.card2 {
  background-color: rgb(201, 201, 101);
  display: flex;
  padding: 20px;
  width: auto;
  border-radius: 8px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.308);
  max-height: 350px;
}
.card2 img{
  width: 100px;
  border-radius: 50%;
}
.card img{
  width: 100px;
  border-radius: 50%;
}
.btn {
  background-color: rgb(201, 201, 101);
  padding: 10px 20px;
  color: whitesmoke;
  border-radius: 5px;
  margin-top: 3%;
  border: none;
}
.btn :hover {
  transform: scale(0.98);
}
.card input {
  width: 100%;
  margin: 10px 0;
  outline: none;
  border: none;
  background-color: whitesmoke;
  border-bottom: 2px solid rgb(202, 202, 90);
  font-size: 14px;
}
.modal input {
  width: 100%;
  margin: 10px 0;
  outline: none;
  border: none;
  background-color: white;
  border-bottom: 2px solid rgb(202, 202, 90);
  font-size: 14px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: rgb(156, 156, 82);
}
.text-center {
  text-align: center;
  padding: 1% 10%;
}
/* margins */
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4.5rem;
}
.mt-5 {
  margin-top: 7rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4.5rem;
}
.mb-5 {
  margin-bottom: 7rem;
}
/* text size */
.text-lg {
  font-size: 40px;
}
.text-md {
  font-size: 54px;
}
.text-mds {
  font-size: 20px;
}
.text-sm {
  font-size: 16px;
}
.pad {
  padding: 2% 3%;
}
.pad-h {
  padding: 0.5% 0.5%;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}